@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/highlight-js/src/styles/rainbow";
@import "bower_components/bootstrap/dist/css/bootstrap";
@import "./reveal/reveal.scss";
@import "./theme/simple";


.reveal .slides{
  section {
    &.huge-text {
      font-size: 120%;
      text-align: left;
    }
    .no-border {
      border: none;
      box-shadow: none;
    }

    .fragment.highlight-orange {
      opacity: 1;
      visibility: visible;
      &.visible {
        color: orange;
      }
    }

    .fragment.highlight-bold {
     opacity: 1;
     visibility: visible;
     &.visible {
       font-weight: bold;
     }
   }

   .title {
     font-size: 48px;
     .title-divider {
       color: orange;
     }
     .subtitle {
       font-size: 24px;
       color: #aaa;
     }
   }

    svg {
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    pre {
      width: 100% !important;
      font-size: 0.4em !important;
    }

    ul>li {
      font-size: 75%;
      margin-bottom: 10px;
    }

    .upper-case {
      text-transform: uppercase;
    }

    .code-link {
      font-size: 60%;
      display: block;
    }

    iframe.gallery {
      width: 100%;
      height: 400px;
    }
    .heading-row {
      background-color: #1A237E;
      color: white;
      margin-right: -30px;
      margin-left: -30px;
      padding-left: 30px;
      img {
        height: 100px;
        background: none;
      }
      p {
        margin-top: 20px;
        padding-left: 20px;
        margin-top: 20px;
        padding-left: 20px;
      }
      a, a:hover {
        color: #fff;
      }
    }
    // .practice {
    //   align-items: center;
    //   flex-direction: row;
    //   display: flex;
    //   width: 50%;
    //   margin-left: 25%;
    //   font-size: 24px;
    //
    //   foo#bar {
    //     height: 50px;
    //     width: 200px;
    //     background-color: #eee;
    //     display: inline-block;;
    //     border-radius: 3px;
    //     border: 2px dashed #bbb;
    //     font-size: medium;
    //     padding: 10px;
    //     font-family: courier;
    //   }
    // }
  }
}
